---
layout: default
---

 <br>

  <blockquote>
    <p>"El éxito no se logra sólo con cualidades especiales. Es sobre todo un trabajo de constancia, de método y de organización."</p>
    <footer>
     <cite>J.P. Sergent n</cite>
    </footer>
  </blockquote>


<br>
<br>


<center>
<p>Escucha el último episodio del podcast</p>
<br>

<h2>¿Por qué me cuesta concentrarme?</h2>
<br>
<br>
<iframe width="100%" height="300" style="background-color:transparent; display:block; padding: 0; max-width:700px;" frameborder="0" allowtransparency="allowtransparency" scrolling="no" src="//embeds.audioboom.com/posts/6912436-por-que-me-cuesta-concentrarme/embed/v4?eid=AQAAAN9W41u0eWkA" title="Audioboom player"></iframe>
<br>
<br>
<p>&#187; <a href="http://vaciatubandeja.com/Por%20que%20me%20cuesta%20concentrarme/" class="button button-primary">Leer post</a></p>
</center>
<br>
<br>
<center>
<p><b>Envíame un audio con tus comentarios</b></p>
<p>Utiliza el Widget lateral (Max 90 seg)</p>
</center>


<!-- Begin SpeakPipe code -->
<script type="text/javascript">
(function(d){
var app = d.createElement('script'); app.type = 'text/javascript'; app.async = true;
var pt = ('https:' == document.location.protocol ? 'https://' : 'http://');
app.src = pt + 'www.speakpipe.com/loader/yhsyurkhlpn9hdopjhkvjrkkw9poz473.js';
var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(app, s);
})(document);
</script>
<!-- End SpeakPipe code -->
